@import '../../node_modules/bootstrap/scss/bootstrap';

$cta-blue: #2166b1;
$sign-grey: #565a5c;

$red-line: #c82032;
$blue-line: #17a0db;
$brown-line: #63361c;
$green-line: #049b49;
$orange-line: #ef4925;
$pink-line: #e37fa7;
$purple-line: #542e91;
$yellow-line: #f5e50b;

$header-text: #ffffff;
$text-color-white: #ffffff;
$text-color-black: #1c1c1c;

$hover-darken: 5%;

$footer-height: 3.5rem;

* {
  font-family: 'FreeSans', Helvetica, Arial, sans-serif;
}

.list-group-item {
  padding: 7px 15px;
}

.cta-header {
  background-color: $cta-blue;
  color: $header-text;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  > .row {
    align-items: center;

    svg {
      width: 6rem;
    }
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  color: $text-color-white;
  background-color: $sign-grey;
  text-align: center;
  font-size: 1.2rem;

  a:link,
  a:visited {
    color: darken($text-color-white, 15%) !important;
    font-style: italic;
  }
}

.cta-dropdown .dropdown-menu {
  padding: 0;
}

// Override number of columns per screen size
.card-columns {
  @include media-breakpoint-down(xs) {
    column-count: 1;
  }

  @include media-breakpoint-between(sm, md) {
    column-count: 2;
  }

  @include media-breakpoint-only(lg) {
    column-count: 3;
  }

  @include media-breakpoint-up(xl) {
    column-count: 4;
  }
}

.station-card {
  padding: 0;
  //background-color: #565a5c;
  background-color: $sign-grey;
  border-radius: 5px;

  &,
  & a:link,
  & a:visited {
    // Override blue link color
    color: $text-color-white;
  }

  .card-title {
    padding: 1rem;
    margin: 0;
    font-size: 1.875rem;
  }

  .card-body {
    padding: 0;

    .train-num {
      font-size: 0.9375rem;
    }

    .train-dest {
      font-size: 1.75rem;
    }

    & svg {
      margin-left: 0.5rem;
    }
  }
}

.red-line {
  background-color: $red-line;
  color: $text-color-white;

  &:hover {
    background-color: darken($red-line, $hover-darken);
    color: $text-color-white;
  }
}

.blue-line {
  background-color: $blue-line;
  color: $text-color-white;

  &:hover {
    background-color: darken($blue-line, $hover-darken);
    color: $text-color-white;
  }
}

.brown-line {
  background-color: $brown-line;
  color: $text-color-white;

  &:hover {
    background-color: darken($brown-line, $hover-darken);
    color: $text-color-white;
  }
}

.green-line {
  background-color: $green-line;
  color: $text-color-white;

  &:hover {
    background-color: darken($green-line, $hover-darken);
    color: $text-color-white;
  }
}

.orange-line {
  background-color: $orange-line;
  color: $text-color-white;

  &:hover {
    background-color: darken($orange-line, $hover-darken);
    color: $text-color-white;
  }
}

.pink-line {
  background-color: $pink-line;
  color: $text-color-white;

  &:hover {
    background-color: darken($pink-line, $hover-darken);
    color: $text-color-white;
  }
}

.purple-line {
  background-color: $purple-line;
  color: $text-color-white;

  &:hover {
    background-color: darken($purple-line, $hover-darken);
    color: $text-color-white;
  }
}

.yellow-line {
  background-color: $yellow-line;
  color: $text-color-black;

  &:hover {
    background-color: darken($yellow-line, $hover-darken);
  }
}
